@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --corPrimary: rgb(0, 0, 0);
    --corSecundaria: white;
    --corTerciaria: brown;
    --corParagrafo: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    background-color: #020E1C;
}

body {
            font-family: Arial, sans-serif;
        }
        .formulario {
            max-width: 500px;
            margin: 50px auto;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }
        button {
            padding: 10px 20px;
            background-color: rgb(112, 0, 0);
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(112, 0, 0);
        }

        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-radius: 10px;
            z-index: 9999;
            text-align: center;
        }
        #popup h2 {
            color: rgb(112, 0, 0);
        }

        #ppup p {
            color: rgb(187, 186, 186);
        }

        #popup button {
            margin-top: 15px;
            background-color: rgb(112, 0, 0);
        }

header {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    margin-top: 2rem;
    margin-right: 20rem;
}

a {
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--corParagrafo);
    text-decoration: none;
}

a:hover {
    color: rgb(112, 0, 0);
}

.highlight {
    color: var(--corTerciaria);
}

strong {
    color: var(--corTerciaria);
}

li {
    color: rgb(187, 186, 186);
}

section {
    margin: 20rem 9rem;
}

section p,
h1,
h2,
h4 {
    margin-bottom: 1.3rem;
}

h1,
h2,
h4 {
    color: var(--corParagrafo);
    font-size: 4rem;
    font-weight: 900;
}

h3 {
    margin-top: 1rem;
    color: var(--corParagrafo);
    font-size: 2.3rem;
    font-weight: 900;
}

h5 {
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(187, 186, 186);
}

section p {
    color: var(--corParagrafo);
    font-size: 2rem;
    font-weight: 450;
}

.autor {
  text-align: left;
  margin-left: 4rem;
  margin-top: -2rem;
}

.nome {
  font-weight: 600;
  font-size: 0.9rem;
  color: #f0f0f0;
  letter-spacing: 0.5px;
}

.cargo {
  font-weight: 400;
  font-size: 0.7rem;
  color: rgba(187, 186, 186, 0.8);
  font-style: italic;
  letter-spacing: 0.3px;
  margin-top: 0.2rem;
}


.container__Foto-1 {
    margin: -53rem 50rem;
    z-index: -1;
    position: relative;
}

.container__Foto-1 img {
    position: fixed;
    width: 70rem;
    height: 50rem;
    /* background: rgba(0, 0, 0, 0.8); */
    /* opacity: 69%; */
    z-index: -1;
    pointer-events: none;
}

article {
    margin-top: 76rem;
    width: 100%;
    height: 180rem;
    background-color: #020E1C;
    overflow: hidden;
}

article .banner {
    margin: 3rem;
}

article p {
    color: rgb(187, 186, 186);
}

article .imagem1 {
    position: relative;
    top: 50px;
    left: 8rem;
    background: rgba(31, 31, 31, 0.8);
    opacity: 89%;
}

article h4,
h5,
.about-tabs,
.tab-content,
.artigos {
    position: relative;
    margin-left: 40rem;
    top: -38rem;
}

article input,
textarea {
    background-color: rgba(131, 131, 131, 0.349);
}

article ::placeholder {
    color: rgb(209, 209, 209);
}

.work-item {
    position: relative;
    display: inline-block;
    margin-left: 9rem;
    margin-top: -55rem;
    width: 25rem;
    height: 28rem;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.work-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.8);
    opacity: 89%;
    transition: transform 0.3s ease;
}

.work-item:hover video {
    transform: scale(1.1);
}

.work-item .sobrepor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, #66CAEC, rgba(255, 0, 77, 0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.work-item:hover .sobrepor {
    opacity: 1;
    pointer-events: auto;
}

.work-item .sobrepor-conteudo {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    text-align: center;
    color: white;
    padding: 20px;
}

.work-item:hover .sobrepor-conteudo {
    transform: translateY(0);
    opacity: 1;
}

.work-item .sobrepor-conteudo h3 {
    margin: 0;
    font-size: 24px;
}

.work-item .sobrepor-conteudo p {
    margin: 10px 0;
    font-size: 16px;
}

.work-item .sobrepor-conteudo a {
    display: inline-block;
    margin-top: 10px;
    background: white;
    color: #ff004d;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}

.work-item .sobrepor-conteudo a:hover {
    background: #ff004d;
    color: white;
}


.about-tabs {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.tab-content {
    display: none;
    margin-top: 20px;
    min-height: 200px;
}

.tab-content.active {
    display: block;
}

.tab {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.tab.active {
    border-color: #ff004f;
}

.servicos {
    margin: 20rem;
    margin-bottom: 3rem;
    margin-left: 9rem;
    font-size: 4rem;
}

.servicos__dois {
    margin-top: 11rem;
    margin-left: 9rem;
    font-size: 4rem;
}

.servicos__tres {
    margin-top: 50rem;
    margin-left: 0rem;
    font-size: 3rem;
}

.artigos {
    width: 340px;
    height: 286px;
    background-color: #212121;
    border: 1px solid #212121;
    display: inline-block;
    margin-left: 9rem;
    margin-right: -5rem;
    position: relative;
    border-radius: 0.5rem;
}

.artigos:hover {
    background: linear-gradient(to top, #66CAEC, rgba(255, 0, 77, 0.3));
    transform: translateY(-15px);
}

.artigos img {
    left: 1rem;
    top: 1rem;
    width: 47px;
}

.artigos h6 {
    font-size: 30px;
    color: white;
    margin: 2rem;
}

.artigos p {
    font-size: 15px;
    margin: -1rem 2rem;
}

.imagem2 {
    display: flex;
    flex-direction: column;
}

.contato {
    margin-top: -50rem;
    margin-left: 9rem;
}

.contato_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.contato img {
    width: 2rem;
    height: 2rem;
}

.contato img:hover {
    background: linear-gradient(to top, #66CAEC, rgba(255, 255, 255, 0.3));
}

.formulario {
    position: absolute;
    z-index: 10;
    gap: 5rem;
    margin-top: -62rem;
    margin-left: 50rem;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formulario input {
    width: 50rem;
    height: 60px;
    padding: 0 1rem;
    border: none;
    background-color: rgba(131, 131, 131, 0.349);
    color: white;
}

.formulario textarea {
    width: 50rem;
    height: 150px;
    padding: 1rem;
    border: none;
    background-color: rgba(131, 131, 131, 0.349);
    color: white;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
    color: rgb(209, 209, 209);
}

form button {
    width: 10rem;
    padding: 12px 30px;
    background: linear-gradient(to top, #66CAEC, rgba(255, 255, 255, 0.3));
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #e60045;
}

footer {
    background-color: #212121;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1px;
}

footer p {
  font-size: 0.85rem;
  color: #aaa;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
footer p strong {
  color: #fff; /* pode ajustar para a cor da sua identidade visual */
}

@media (max-width: 768px) {
    header {
        display: flex;
        padding: 2rem;
        margin: 1rem;
        overflow-x: hidden;
    }

    .menu {
        padding-top: 3.5rem;
        flex-direction: row;
        justify-content: center;
        margin-left: -6rem;
    }

    .menu a {
        margin: 0 10px;
        font-size: 0.9rem;
    }

    header h3 {
        margin-top: -1rem;
        font-size: 1rem;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
    }

    section {
        margin: 5rem 2rem;
        text-align: center;
    }

    h1,
    h2,
    h4 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p,
    li,
    h5 {
        font-size: 0.9rem;
    }

    .container__Foto-1 {
        display: none;
        left: -111rem;
    }

    article {
        margin-top: 7rem;
        background-color: rgb(10, 10, 10);
        overflow: hidden;
        height: auto;
    }

    article .banner {
        width: 20rem;
        margin: 3rem;
        margin-left: 3rem;
    }

    article h4,
    h5,
    .about-tabs,
    .tab-content,
    .artigos {
        margin-left: 1rem;
        top: 0;
    }

    section h4 {
        margin-left: 1rem;
        top: 0;
    }

    .artigos {
        margin: 1rem auto;
        display: block;
    }

    .work-item {
        flex: 1 1 30%;
        max-width: 30%;
        margin: 0;
        margin-left: 1.6rem;
        width: 6rem;
        height: 10rem;
    }

    .sobrepor 
    .sobrepor-conteudo {
        padding: 1px;
        text-align: center;
        font-size: 1rem;
    }

    .sobrepor
    .sobrepor-conteudo h3 {
        font-size: 1rem;
        bottom: 1rem;
    }

    .sobrepor
    .sobrepor-conteudo p {
        font-size: 0.5rem;
        margin-top: -0.5rem;
    }

    .sobrepor
    .sobrepor-conteudo a {
        font-size: 0.2rem;
        margin-top: -1rem;
    }

    .contato {
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .contato_container img {
        width: 1rem;
        height: 1rem;
    }

    .formulario {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 4rem;
        margin-top: 8rem;
        margin-left: 1rem;
    }

    .formulario input,
    .formulario textarea {
        width: 24rem;
        
    }

    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto;
        gap: 1rem;
    }

    .contato_container img {
        width: 1rem;
        height: 1rem;
    }

    .contato-container {
        flex-direction: column-reverse;
    }

    .servicos,
    .servicos__dois,
    .servicos__tres {
        margin: 3rem 1rem;
        font-size: 2rem;
    }

    .servicos {
        margin-left: 5rem;
    }

    .servicos__dois {
        margin-left: 6rem;
    }

    .servicos__tres {
        margin-right: 3rem;
        margin-bottom: -5rem;
    }

    footer {
        position: static;
        font-size: 0.9rem;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .work-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
